.bienvenidos {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.486)), url(../images/Bolsos-fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    h2 {
        font-weight: 700;
        font-size: 60px;
        animation: move 1.2s ease;
        color: $color-secondary;
    }

    p {
        font-size: 24px;
        margin: 8px;
    }

    a {
        text-decoration: none;
        color: white;
        background-color: black;
        font-size: 16px;
        padding: 12px;
        transition-duration: 1s;
    }
}

.productos {
    h2 {
        background-color: $color-fondo;
        color: black;
        text-align: center;
        font-size: 30px;
        padding: 15px;
    }

    .flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
        flex-wrap: wrap;
    }

    div {
        div {
            border: 1px solid black;
            width: 250;
            height: 350px;
            text-align: center;
            background-color: $color-fondo;
            color: white;
            margin-top: 20px;
            -webkit-box-shadow: 9px 10px 11px 4px rgba(0, 0, 0, 0.36);
            -moz-box-shadow: 9px 10px 11px 4px rgba(0, 0, 0, 0.36);
            box-shadow: 9px 10px 11px 4px rgba(0, 0, 0, 0.36);
            border-radius: 1rem;

            img {
                width: 250px;
                height: 250px;
                border-radius: 1rem;
            }

            h3 {
                font-size: 25px;
                margin: 8px;
            }

            a {
                text-decoration: none;
                color: black;
                border: 1px solid black;
                font-weight: 900;
                padding: 3px;
            }
        }
    }

}


.galeria {
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 20px;

    div {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-box-shadow: 9px 10px 11px 4px rgba(0, 0, 0, 0.36);
            -moz-box-shadow: 9px 10px 11px 4px rgba(0, 0, 0, 0.36);
            box-shadow: 9px 10px 11px 4px rgba(0, 0, 0, 0.36);

        }
    }
}

.grid {
    width: 400px;
    position: relative;
    transition-duration: 1s;

    h3 {
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $color-fondo;

    }
}

.formulario {
    margin: 20px;

    h2 {
        margin-bottom: 40px;
    }
}

.container {
    margin-top: 30px;
}

.col {
    h3 {
        margin-bottom: 16px;
    }

    img {
        width: 400px;
        height: 400px;
    }
}

.tarjetas {
    transition-duration: 1s;
}